[Desktop Entry]
Name=madcad
Comment=Script based CAD software, source launcher
GenericName=Mechanical Advanced Computer Aided Design
Icon=madcad
Type=Application
StartupNotify=true
Terminal=false
MimeType=application/madcad

Exec=/usr/bin/madcad

Comment[fr_FR]=Logicel de CAO basé sur les scripts

